.footer {
    background-color:  #06495a;
    padding-bottom: 20px;
    padding-top: 20px;
    &__wrapper {
        margin: 0 100px;
        display: flex;
        align-items: center;
    }
    &__text {
        margin-left: 65px;
        font-size: 14px;
        font-weight: 300;
        color: #ffffff;
    }
}